@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

section#step2_confirm_and_save > section > p {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.custom-dashed-hr {
  border: none;
  height: 2px;
  background: repeating-linear-gradient(
    90deg,
    #3c333f,
    #3c333f 10px,
    transparent 5px,
    transparent 20px
  );
}
